a {
  text-decoration: none;
}

div > .brief-media {
  padding: 10px 20px;
  background-color: #607D8B;
}

div > .brief {
  margin: 10px auto;
}

.project-card-square.mdl-card {
  width: 300px;
  height: 350px;
}

.mdl-card-padding {
  margin: auto;
  padding: 10px;

}

.project-card-square > .mdl-card__title {
  color: #ffffff;
  background-color: #607B8D;
}

.mdl-grid.project-brief-row {
  margin: auto;
  /*display: inline-block;*/
}

.brief > div.mdl-card__supporting-text {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
}

#scavengr-card > .mdl-card__title {
  background: url('../static/images/scavengrScreen.png') bottom right 50% no-repeat #46B6AC;
  background-size: 130px;
}

#force-feeld-card > .mdl-card__title {
  background: url('../static/images/forcefeeld.jpg') bottom right 15% no-repeat #46B6AC;
  background-size: 125%;
}

#pethub-card > .mdl-card__title {
  background: url('../static/images/pethub.png') bottom left no-repeat #46B6AC;
  background-size: 125%;
}

.mdl-card__title > h2 {
  background-color: #607B8D;
  padding: 10px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),
    0 3px 1px -2px rgba(0,0,0,.2),
    0 1px 5px 0 rgba(0,0,0,.12);
}

a.top-nav-link {
  /*top: 10px;*/
  color: #ffffff ! important;
  text-decoration: none;
}
