html {
  overflow-x: hidden;
}

body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

header {
  margin: 0px;
  height: 300px;
  width: 100%;
  color: #FFFFFF;
}

footer {
  padding: 40px;
  height: 100px;
  background-color: #455A64;
}

header nav {
  z-index: 2;
  margin: 20px;
  float: right;
}

header h1 {
  font-size: 3em;
}

nav a {
  color: #FFFFFF ! important;
  text-decoration: none ! important;
}

nav a:hover {
  text-shadow: 0px 0px 4px #FFFFFF ! important;
}


header nav, footer nav{
  width: 500px;
}

hr {
  color: #455A64;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  margin-top: 40px;
  margin-bottom: 40px;
}

#particles-js {
  margin: 0px;
  height: 300px;
  width: 100%;
  background-color: #000000;
  z-index: -1;
  position: absolute;
}

.header-right {
  margin: 20px;
  float: left;
}

.header-center {
  position: absolute;
  top: 40px;
  width: 100%;
  z-index: 1;
  margin: auto;
  padding: 30px;
  text-align: center;
}

.header-button {
  color: #FFFFFF ! important;
  text-decoration: none ! important;
  margin: 20px;
  width: 100px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  max-width: 100px;
  border: 2px solid #FFFFFF;
}

nav .header-button {
  margin-left: 5px;
}

.header-button:hover, nav .header-button:hover {
  color: #000000 ! important;
  background-color: #FFFFFF ! important;
}

.main-content {
  text-align: center ! important;
  margin: auto;
  max-width: 1020px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 32px;
  padding-left: 32px;
}

.footer-content {
  margin: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 600px;
  height: 100px;
}

.project-container {
  height: 380px;
  max-width: 1000px ! important;
  padding: 15px;
}

.project-mini {
  width: 300px;
  height: 300px;
  margin: 15px;
  background: #000000;
  float: left;
}

._main-content-button {
  color: #000000;
  text-decoration: none ! important;
  font-weight: 1.1em;
  margin: auto ! important;
  /*width: 100px ! important;*/
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  max-width: 100px;
  border: 2px solid #000000;
}

._main-content-button:hover {
  color: #FFFFFF;
  text-decoration: none ! important;
  background-color: #000000;
}

._brief {
  text-align: center ! important;
  margin: auto;
  max-width: 700px;
}

._button-container {
  width: 200px;
  margin: auto;
}

.thumbnail {
  margin-left: 0px;
  margin-right: 0px;
  border: none! important;
}

.thumbnail > img {
  width: 350px;
  height:250px;
}

.android-screen {
  /*width:100px;*/
  margin: auto;
  height: 250px;
}

.android-screen-container {
  height: 250px;
}
